*{
    margin: 0;
    padding: 0;
}
body, html {
	height:100%;
	font:12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}
.wrap {
	width:1100px;
	margin:0 auto;
}
ul {
	list-style:none;
}
img {
	border:0 none;
	vertical-align:bottom;
}
a {
	text-decoration:none;
}
.left {
	float:left;
}
.right {
	float:right;
}
.fix {
	overflow:hidden;
	clear:both;
}
.clearfix:before, .clearfix:after {
	Content: "";
	Display: table;
}
.clearfix:after {
	Clear: both;
}
.clearfix {
	*zoom: 1;
}
header{
    background-color: #666;
    height: 40px;
}
.main{
    width: 1090px;
    margin: 0 auto;
}
.h-li li{
    list-style: none;
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;
    
}
.h-li a {
    color: #fff;
}
.h-li a:hover {
    color:red;
}
.logo {
	width:170px;
	height:46px;
	background:url(../img/logo_170x46.png) no-repeat;
	margin-top:18px;
}
.logo span {
	line-height:999;
	display:inline-block;
	overflow:hidden;
	height:0;
}
/**导航**/
.menu, .menu-main, .menu-tag, .menu-con a {
	background:url(../img/header.png) no-repeat;
}
.menu {
	background-repeat:repeat-x;
	height:84px;
}
.nav-menu {
	padding-left:50px;
}
.menu-main {
	position:relative;
	padding-left:38px;
	height:84px;
	margin-left:-8px;
	background-position:0 -85px;
}
.menu-tag {
	position:absolute;
	display:block;
	width:41px;
	height:25px;
	left:26px;
	top:0;
	line-height:999;
	overflow:hidden;
	border: 1px solid red;
}
.menu-tagz {
	background-position:0 -676px;
}
/*鼠标移动到赚积分上*/
.menu-main:hover .menu-tagz {
	background-position:-40px -676px;
}
.menu-tagh {
	background-position:-109px -676px;
}

/*鼠标移动到花积分上*/
.menu-main:hover .menu-tagh {
	background-position:-149px -676px;
}

/*-------------------------创建动画----------------------------------*/
 @keyframes spread {
    0% {width:0;}
    33% {width:23px;}
    66% {width:46px;}
    100% {width:69px;}
}

/*使用动画*/
.menu-main:hover .menu-tag {
	animation:spread 0.3s linear both;
	-webkit-animation:spread 0.3s linear both;
	-moz-animation:spread 0.3s linear both;
	-o-animation:spread 0.3s linear both;
}
.menu-con {
	height:84px;
}
.menu-con li {
	float:left;
}
.menu-con li a {
	display:block;
	width:108px;
	height:84px;
	line-height:999;
	overflow:hidden;
}
.menu-con .item-mall {
	background-position:0 -170px;
}
.menu-con .item-mall:hover {
	background-position:-108px -170px;
}
.menu-con .item_travel {
	background-position:0 -254px;
}
.menu-con .item_travel:hover {
	background-position:-108px -254px;
}
.menu-con .item_gmall {
	background-position:0 -338px;
}
.menu-con .item_gmall:hover {
	background-position:-108px -338px;
}
.menu-con .item_about {
	background-position:0 -506px;
}
.menu-con .item_about:hover {
	background-position:-108px -506px;
}
.menu-con .item_act {
	background-position:0 -422px;
}
.menu-con .item_act:hover {
	background-position:-108px -422px;
}
.menu-con .item_i {
	background-position:0 -590px;
}
.menu-con .item_i:hover {
	background-position:-108px -590px;
}
.menu-r a {
	background:url(../img/iconsB.png) no-repeat;
	width:24px;
	height:24px;
	line-height:999;
	overflow:hidden;
	margin-left:14px;
	float:left;
	margin-top:32px;
	/*图片移动的动画*/
	transition:all 0.3s linear;
}
.menu-r .icon-bbs {
	background-position:0 -21px;
}
.menu-r .icon-bbs:hover {
	background-position:0 -46px;
}
.menu-r .icon-wb {
	background-position:-24px -21px;
}
.menu-r .icon-wb:hover {
	background-position:-24px -46px;
}
.menu-r .icon-mail {
	background-position:-49px -21px;
}
.menu-r .icon-mail:hover {
	background-position:-49px -46px;
}

aside{
    width: 212px;
    height: 600px;
}
.center{
    width: 666px;
}
.content div,.content aside{
    float: left;
}
.one {
    height: 40px; 
    background-color:#d03800;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.one a{
    color:#fff;
}
.red {
    height: 0px;
    width: 212px;
    overflow: hidden;
    padding-bottom: 5px;
}
.list {
    position: relative;
    padding: 13px 10px;
    background-color: #fff;
}
.list:nth-child(2n){
    background-color: #f0f0f0;
}
.list a {
    font-size: 12px;
}
.list span{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
}
.list:hover{
    background:#545651;
}
.list:hover .menu-panel{
    display: block;
}
.menu-panel {
	position:absolute;
	width:446px;
	padding:18px 34px;
 /*display:;*/
	top:0;
	left:210px;
	z-index:5;
	box-shadow:inset 2px 0 5px 0 #D5D5D5, 2px 0 3px #E8E8E8;
	background:#fff;
	display:none;
}
.menu-panel h4 {
	font-family: "Microsoft YaHei", "微软雅黑", "黑体";
	font-size: 14px;
	color: #e64e3e;
	margin-bottom: 9px;
}
.menu-panel-hd {
	border-bottom: 1px dotted #E2E2E2;
	padding-bottom: 12px;
	margin-bottom: 14px;
	line-height:1.5;
}
.sub-group a {
	color: #555;
	display: inline-block;
	margin-right: 16px;
}
.sub-group a:hover {
	color:#E64E3E;
	text-decoration:underline;
}
.menu-panel-bd li {
	float:left;
	width: 88px;
	height: 56px;
	border: 1px solid #EDEEEF;
	margin: 0 0 -1px -1px;
	background-color: #FFF;
}
.menu-panel-bd li a {
	display:block;
	text-align:center;
}
.menu-panel-bd li a img {
	width: 80px;
	height: 27px;
	margin-top: 14px;
}
.menu-panel-btn {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-top: 15px;
	padding: 0 10px;
	color: #FFF;
	background-color: #E64E3E;
}
.menu-panel-btn em {
	width: 0;
	height: 0;
	margin-left: 6px;
	overflow: hidden;
	font-size: 0;
	display: inline-block;
	border-width: 4px;
	border-color: transparent transparent transparent #FFF;
	border-style: dashed dashed dashed solid;
}

.focus {
	position:relative;
	width:666px;
	height:300px;
	overflow:hidden;
}
.focus img {
	vertical-align:bottom;
}
.silde {
	position:absolute;
	width:2664px;
	left:0px;
	top:0;
}
.silde li {
	float:left;
}
.silde-page {
	position:absolute;
	float:left;
	left:0;
	bottom:0;
}
.silde-page li {
	position:relative;
	bottom:0;
	float:left;
	width:165px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	margin-right:2px;
}
.silde-page li a {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:30px;
	display:block;
	color:#fff;
	transition:height 0.3s ease-out;
	background:rgba(51, 51, 51, .5);
}
.silde-page li.on a {
	background:rgba(208, 56, 0, .9);
	height:36px;
	line-height:36px;
}
.silde-page li:last-child {
	margin-right:0;
}
.centerBottom img{
    vertical-align: top;
}
.centerBottom {
    width: 666px;
    height: 300px;
    /* overflow: hidden; */
}
.centerBottom div{
    float: left;
    width: 222px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
}
.lineImg img{
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search{
    height: 300px;
    width: 100%;
	background-color: red;

}
.enter{
    height: 300px;
    width: 100%;
    background-color: #ccc;
}
.searchBox{
    width: 180px;
    padding:0 16px;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.searchBox h1 {
	border-bottom: 5px solid red;
}
.searchInput{
	width: 100%;
	height: 20px;
	margin: 20px 0;
}
.searchBtn{
	width: 80px;
	height: 30px;
	margin: 10px 55px;
	position: relative;
}
.search-all{
	height: 0px;
	transition: all 2s;
	overflow: hidden;
}
.search-all select{
	/* position: absolute; */
	width: 60px;
    height: 25px;
    line-height: 25px;
    padding: 0 3px 0 5px;
	color: #333;
	margin: 5px 14px;

}
.searchBox:hover .search-all{
	height: 150px;
}
.how {
	border-top:1px solid #D44612;
}
.how dt {
	font-size:16px;
	color:#fff;
	padding-top:8px;
	padding-bottom:8px;
}
.how dd {
	padding-bottom:8px;
}
.how dd span {
	display:inline-block;
	font-size:0;
	border-right:8px #E8AFA3 solid;
	border-bottom:8px dashed transparent;
}
.how dd a {
	color:#fff;
}
.how dd a:hover {
	text-decoration:underline;
}

footer {
	margin-top:35px;
	text-align:center;
	padding-bottom:15px;
}
footer p {
	margin-top:5px;
}
footer p, footer p a {
	color:#777;
}
footer p a {
	margin:0 5px;
}
footer p a:hover {
	text-decoration:underline;
	color:red;
}
.sec2 {
	margin-top:25px;
}
.jf-hd {
	padding-bottom: 8px;
	border-bottom: 2px solid #E64E3E;
	font-family: "Microsoft YaHei", "微软雅黑", "黑体";
	color: #e64e3e;
	font-size: 16px;
	font-weight: normal;
}
.jf-hd > span:first-child {
	height: 18px;
	width: 13px;
	display:inline-block;
	margin-right: 8px;
	margin-top: 4px;
	background:url(../img/index.png) no-repeat -142px -16px;
	vertical-align:top;
}
.jf-hd > span:nth-child(2) {
 font-size:12px;
 margin-left:15px;
 color:#888;
}
.jf-hd span.fc1 {
	color: #E64E3E;
}
.showpic {
	position:relative;
	margin:0 auto;
	margin-top:15px;
	height:600px;
}
.showpic .box {
	padding:18px 21px;
	width:227px;
	float:left;
}
.showpic .box .info {
	padding:10px;
	border:1px #d7d7d7 solid;
}
.showpic .title {
	margin-top:10px;
	color:#969696;
	line-height:1.5;
}
.ad, .rightMenu {
	position:fixed;
	left:50%;
	bottom:20px;
	z-index:99;
	margin-left:555px;
}
.ad {
	border:1px #ccc solid;
}
.rightMenuBox, .backTop, .menu-edu, .menu-wx, .edu-main li, .edu-main li .edu-img, .edu-btmImg {
	background:url(../img/icon_top.png) no-repeat;
}
.rightMenu {
	width:45px;
	height:125px;
	bottom:-150px;
}
.rightMenuBox {
	position:absolute;
	left:0;
	top:0;
	z-index:12;
	width:45px;
	height:125px;
	background-position:-11px -82px;
}
.backTop {
	display: block;
	width: 36px;
	height: 39px;
	background-position: -63px -82px;
	margin-left: 5px;
	margin: 3px 0 0 6px;
	overflow:hidden;
	line-height:999;
}
.backTop:hover {
	background-position: -100px -82px;
}
.menu-edu {
	width: 21px;
	height: 19px;
	background-position: -62px -145px;
	display: block;
	margin: 12px auto 0;
}
.menu-wx {
	display: block;
	width: 23px;
	height: 19px;
	margin: 19px auto 0;
	background-position: -85px -145px;
}
.rightMenuHover {
	position:absolute;
	border:1px #d7d7d7 solid;
	z-index:10;
	right:20px;
	bottom:2px;
	background:rgba(255, 255, 255, .94);
}
.edu-main {
	height:120px;
	width:700px;
	display:none;
}
.edu-main li {
	float: left;
	width: 164px;
	height: 120px;
	padding-right: 9px;
	background-position: 163px -82px;
}
.edu-main li .edu-img {
	width: 52px;
	height: 42px;
	display: block;
	margin: 24px auto 10px;
}
.edu-main li .edu-img1 {
	background-position:0 -206px;
}
.edu-main li .edu-img2 {
	background-position:-52px -206px;
}
.edu-main li .edu-img3 {
	background-position:-104px -206px;
}
.edu-main li .edu-img4 {
	background-position:-156px -206px;
}
.edu-main li .edu-btm {
	color: #b0947e;
	padding-left: 18px;
}
.edu-btmImg {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 6px;
}
.edu-step1 {
	background-position: -62px -123px;
}
.edu-step2 {
	background-position: -83px -123px;
}
.edu-step3 {
	background-position: -104px -123px;
}
.edu-step4 {
	background-position: -125px -123px;
}
.edu-wx-img {
	width:186px;
	height:96px;
	display:none;
	padding:12px;
	text-align:center;
	color: #555;
}